@using Stemmesystem.Data
@using Stemmesystem.Web.Data
@inject StemmeService StemmeService


<h3>@Votering.Sak.Tittel</h3>
<h4>@Votering.Sak.Beskrivelse</h4>
<h5>@Votering.Tittel</h5>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
@if(Votering.KanVelge > 1){
    <form>
        @foreach(var valg in Votering.Valg.OrderBy(v=> v.SortId)){
        <div class="form-check">            
            <input type="checkbox" class="form-check-input" value="@valg.Id" id="check@valg.Id">
            <label class="form-check-label" for="check@valg.Id">@valg.Navn</label>
        </div>
        }
        <br>
        <button class="btn @(Stemme?.ValgId == Konstanter.BlankStemme ? "btn-primary" :"btn-outline-primary")" disabled=@(HarStemmt && Stemme == null) @onclick="@(async e => await RegistrerStemme(Konstanter.BlankStemme))">Stem blankt</button>
        <button class="btn btn-success" disabled=@(HarStemmt && Stemme == null) @onclick="@(async e => await RegistrerStemme(Konstanter.BlankStemme))">Stem</button>
    </form>
}
else
{
    @foreach(var valg in Votering.Valg.OrderBy(v=> v.SortId)){
      <label class="btn @(Stemme?.ValgId == valg.Id ? "btn-primary" :"btn-outline-primary") btn-lg">
        <input type="radio" name="options" id="@valg.Id" disabled=@(HarStemmt && Stemme == null) autocomplete="off" @onclick="@(async e => await RegistrerStemme(valg.Id))">@valg.Navn
      </label>
    }
    <br>
<br>
<button class="btn @(Stemme?.ValgId == Konstanter.BlankStemme ? "btn-primary" :"btn-outline-primary")" disabled=@(HarStemmt && Stemme == null) @onclick="@(async e => await RegistrerStemme(Konstanter.BlankStemme))">Stem blankt</button>
}
</div>



@code {
    [Parameter]
    public Votering Votering { get; set; } = null!;

    [Parameter]
    public string? DelegatKode { get; set; }

    protected Stemme? Stemme;
    private string? _revoteKey;
    protected bool HarStemmt;


    public async Task RegistrerStemme(Guid valgId){
        if (DelegatKode == null)
            return;
        var (stemme, revoteKey) = await StemmeService.AvgiStemmeAsync(Votering.Id, DelegatKode, valgId, _revoteKey);
        Stemme = stemme;
        _revoteKey =  revoteKey;
        HarStemmt = true;

    }

    protected override async Task OnInitializedAsync(){
        if (DelegatKode != null)
        {
            HarStemmt = await StemmeService.HarStemmt(Votering.Id, DelegatKode);

            if (HarStemmt && !Votering.Hemmelig)
            {
                Stemme = await StemmeService.FinnStemme(Votering.Id, DelegatKode);
            }
        }
    }
}
