@using Stemmesystem.Data
@using Stemmesystem.Web.Data
@inject StemmeService StemmeService

<div class="col-xl-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@Votering.Sak.Tittel</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Votering.Sak.Beskrivelse</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Votering.Tittel</h5>
            @if (HarStemmt && !Endre)
            {
                <p>Du har stemt <b>@StemmerSomString()</b></p>
                if (KanEndre())
                {
                    <button class="btn btn-secondary" @onclick="@(e => Endre = true)">Endre</button>
                }
            }
            else
            {
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger" role="alert">
                        @_error
                    </div>
                }
                <CascadingValue Value=this>
                    @if (Votering.KanVelge > 1)
                    {
                        <Flervalgsvotering @bind-Error="_error"/>
                    }
                    else
                    {
                        <Enkelvotering @bind-Error="_error"/>
                    }
                </CascadingValue>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Votering Votering { get; set; } = null!;
    
    [CascadingParameter]
    private DelegatStateProvider? DelegatStateProvider {get;set;}

    internal List<Stemme> Stemmer = new();
    private string? _revoteKey;
    protected bool HarStemmt;
    private bool Endre { get; set; } = false;

    private string? _error;


    public async Task RegistrerStemme(params Guid[] valg)
    {
        await RegistrerStemme(valg.ToList());
    }

    public async Task RegistrerStemme(ICollection<Guid> valg)
    {
        _error = null;
        if (DelegatStateProvider?.Delegatkode == null)
            return;
        if (valg.Count > Votering.KanVelge)
        {
            _error = $"For mange valg! Du kan bare velge {Votering.KanVelge}";
            return;
        }
        try
        {
            var (stemmer, revoteKey) = await StemmeService.AvgiStemmeAsync(Votering.Id, DelegatStateProvider.Delegatkode, valg, _revoteKey);
            Stemmer = stemmer;
            DelegatStateProvider.RevoteKeys[Votering.Id] = revoteKey;
            await DelegatStateProvider.SaveChangesAsync();
            _revoteKey = revoteKey;
            HarStemmt = true;
            Endre = false;

            StateHasChanged();
        }
        catch (StemmeException e)
        {
            _error = e.Message;
        }
    }

    protected override async Task OnInitializedAsync(){
        if (DelegatStateProvider?.Delegatkode != null)
        {
            HarStemmt = await StemmeService.HarStemmt(Votering.Id, DelegatStateProvider.Delegatkode);

            if (HarStemmt && !Votering.Hemmelig)
            {
                Stemmer = await StemmeService.FinnStemmer(Votering.Id, DelegatStateProvider.Delegatkode);
            }
        }
        if (DelegatStateProvider?.RevoteKeys != null && DelegatStateProvider.RevoteKeys.TryGetValue(Votering.Id, out var key))
        {
            _revoteKey = key;
        }
    }

    private string StemmerSomString()
    {
        if (!Stemmer.Any()) return "";

        var navn = Stemmer.Select(s => s.ValgId == Konstanter.BlankStemme ? "Blankt" : Votering.Valg.First(v => v.Id == s.ValgId).Navn).ToList();
        
        if (navn.Count == 1)
            return navn.First();

        return $"{string.Join(", ", navn.SkipLast(1))} og {navn.Last()}";
    }

    private bool KanEndre()
    {
        return !Votering.Hemmelig || _revoteKey != null;
    }

}
