@using Stemmesystem.Data
@using Stemmesystem.Web.Data
@inject StemmeService StemmeService

<div class="col btn-group@(Base.Votering.Valg.Count > 3 ? "-vertical":"") btn-group-toggle" data-toggle="buttons">
@foreach(var valg in Base.Votering.Valg.OrderBy(v=> v.SortId)){
    <label class="btn @(Base.Stemmer.Any(s=> s.ValgId == valg.Id) ? "btn-primary" :"btn-outline-primary") btn-lg">
        <input type="radio" name="options" id="@valg.Id" autocomplete="off" @onclick="@(async e => await Base.RegistrerStemme(valg.Id))">@valg.Navn
    </label>
}
</div>

<button class="btn mt-2 @(Base.Stemmer.Any(s=> s.ValgId == Konstanter.BlankStemme) ? "btn-primary" :"btn-outline-primary")" @onclick="@(async e => await Base.RegistrerStemme(Konstanter.BlankStemme))">Stem blankt</button>

@code {
    [CascadingParameter]
    public AktivVotering Base { get; set; }
    [Parameter]
    public string Error { get; set; }
    [Parameter]
    public EventCallback<string> ErrorChanged { get; set; }
}