@using Stemmesystem.Data
@using System.Globalization
@using System.Threading

<div class="card">
    <div class="card-header" @onclick="@(_ => _visDetaljer = !_visDetaljer)">
        @Votering.Tittel
        <span class="ml-2 mt-1 oi float-right @(_visDetaljer ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
    </div>
    <div class="collapse @(_visDetaljer ? "show" : "")" id="collapseOne">
        <div class="card-body">
            <b>Stemmer totalt: @Votering.Stemmer.Count</b>
            @if (_total == 0)
            {
                <tr><td class="text-danger">Ingen stemmer</td></tr>
            }
            else
            {
                foreach(var (id, stemmer) in _resultater.OrderByDescending(r=> r.Value))
                {
                    <div>@_valg[id]: @stemmer (@(100 * stemmer/_total)%)</div>
                }
            }
            <div>@(_blankt == 1 ? "1 blank stemme": $"{_blankt} blanke stemmer")</div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Votering Votering { get; set; } = null!;


    private Dictionary<Guid, string> _valg = new();
    private Dictionary<Guid, int> _resultater = new();
    private bool _visDetaljer;
    private int _total;
    private int _blankt;


    protected override void OnInitialized()
    {
        _valg = Votering.Valg.ToDictionary(v => v.Id, v => v.Navn);
        _resultater = new Dictionary<Guid, int>(Votering.Valg.Count);
        foreach(var valg in Votering.Valg)
        {
            _resultater[valg.Id] = 0;
        }

        _total = 0;
        _blankt = 0;
        foreach (var stemme in Votering.Stemmer)
        {
            if (stemme.ValgId == Konstanter.BlankStemme)
            {
                _blankt++;
                continue;
            }

            _resultater[stemme.ValgId]++;
            _total++;
        }
    }
}
