@using Stemmesystem.Web.Models
@using System.IO
@using System.Linq
@using Microsoft.Win32
@using Stemmesystem.Tools
@using Stemmesystem.Web.Data
@using Stemmesystem.Web.Services.CSV

@inject CsvImport Import
@inject ISakService SakService

<div class="row">
    <p>Importer Saker:</p>
    <InputFile OnChange="@OnSakFil"/>
    <p style="white-space: pre-wrap"><small>Format: <br> @CsvImport.SakFormat</small></p>
    <p class="text-danger col-12">@_error</p>
    @if (_importSaker.Any())
    {
        for (var i = 0; i < _importSaker.Count; i++)
        {
            var index = i;
            <SakImportForm @ref="_SakForms[index]" Sak="@_importSaker[index]" ArrangementId="ArrangementId"/>
        }
        <div class="col-auto">
            <button class="btn btn-primary ml-3" @onclick="@(e => LagreImport())">Lagre alle</button>
        </div>
    }
</div>
<hr/>
@code {
    private string? _error;
    private List<SakModel> _importSaker = new();
    private IDictionary<int,SakImportForm> _SakForms = new Dictionary<int, SakImportForm>();


    [Parameter]
    public int ArrangementId { get; set; }

    private async Task OnSakFil(InputFileChangeEventArgs e)
    {
        _error = null;
        _importSaker.Clear();
        try
        {
            await using var stream = e.File.OpenReadStream();
            using var reader = new StreamReader(stream);
            var Saker = await Import.LesSaker(reader);
            _importSaker = new List<SakModel>(Saker);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            _error = "Kunne ikke importere fil";
        }
    }

    private async Task LagreImport()
    {
        _error = null;
        foreach (var form in _SakForms.Values)
        {
            var Sak = form.Sak;
            if (form.EditContext!.Validate() && await form.HandleValidSubmit(form.EditContext))
            {
                _importSaker.Remove(Sak);
            }
        }
    }

}