@using Stemmesystem.Data
@using Stemmesystem.Web.Data;
@using Stemmesystem.Web.Models

@inject StemmeService StemmeService
@inject ISakService SakService
@inject NotificationManager NotificationManager
@implements IDisposable

<div class="row" @onclick=@(_ => _expanded=!_expanded)>
    <h4>Saker</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    if(_saker == null || !_saker.Any())
    {
        <tr><td class="text-danger">Ingen saker</td></tr>
    }

    foreach (var sak in _saker.OrderBy(s => s.Nummer))
    {
        <h5>@sak.Nummer - @sak.Tittel</h5>
        <p><small>@sak.Beskrivelse</small></p>
        foreach (var votering in sak.Voteringer){
            <SakslisteLinje Votering="@votering" ArrangementId="@ArrangementId" SakId="@sak.Id"></SakslisteLinje>
        }
    }
}

@code {
    [Parameter]
    public int ArrangementId {get;set;}
    private NotifierService? Notifier { get; set; }
    private ICollection<Sak> _saker = null!;
    private bool _expanded;

    protected override async Task OnInitializedAsync()
    {
        _saker = await SakService.HentSaker(ArrangementId);
        Notifier = NotificationManager.ForArrangement(ArrangementId);
        Notifier.VoteringStartet += OnVoteringStartet;
        Notifier.VoteringStoppet += OnVoteringStoppet;
        Notifier.VoteringLukket += OnVoteringLukket;
        Notifier.VoteringPublisert += OnVoteringPublisert;
        Notifier.NyVotering += NyVotering;
        Notifier.NyStemme += OnNyStemme;
        Notifier.StemmeFjernet += OnStemmeFjernet;
    }

    public void OnNyStemme(NyStemmeEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                votering.Stemmer.Add(e.Stemme);
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    public void OnStemmeFjernet(StemmeFjernetEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                var stemme = votering.Stemmer.FirstOrDefault(s=> s.Id == e.StemmeId);
                if(stemme != null)
                    votering.Stemmer.Remove(stemme);
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    private void OnVoteringStoppet(VoteringStoppetEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                votering.Aktiv = false;
                votering.SluttTid = DateTimeOffset.Now;
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    private void OnVoteringStartet(VoteringStartetEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                votering.Aktiv = true;
                votering.StartTid = DateTimeOffset.Now;
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    private void OnVoteringLukket(VoteringLukketEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                votering.Lukket = true;
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    private void OnVoteringPublisert(VoteringPublisertEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == e.VoteringId);
            if (votering != null)
            {
                votering.Publisert = true;
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }

    private void NyVotering(NyVoteringEvent e)
    {
        _ = InvokeAsync(async () =>
        {
            var sak = _saker.FirstOrDefault(s => s.Id == e.Votering.SakId);
            if (sak != null)
            {
                sak.Voteringer.Add(e.Votering);
            }
            else
            {
                _saker = await SakService.HentSaker(ArrangementId);
            }
            StateHasChanged();
        });
    }


    public void Dispose()
    {
        if (Notifier == null) return;
        Notifier.VoteringStartet -= OnVoteringStartet;
        Notifier.VoteringStoppet -= OnVoteringStoppet;
        Notifier.NyStemme -= OnNyStemme;
        Notifier.StemmeFjernet -= OnStemmeFjernet;
        Notifier.VoteringLukket -= OnVoteringLukket;
        Notifier.VoteringPublisert -= OnVoteringPublisert;
        Notifier.NyVotering -= NyVotering;
    }

}
