@page "/admin/arrangement/nytt-arrangement"
@page "/admin/arrangement/{arrangementId:int}"
@using Models
@using Stemmesystem.Web.Data
@inject ArrangementService ArrangementService
@inject NavigationManager Navigation

@attribute [Authorize]

<div class="row">
@if (_arrangement.Id == null)
{
    <h3>Nytt arrangement</h3>
}
else
{
    <h3>Rediger arrangement <b>@_arrangement.Navn</b></h3>    
}    
</div>

<div class="row">
<EditForm Model="@_arrangement" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-group">
        <label>Navn<InputText class="form-control" placeholder="Navn" @bind-Value="_arrangement.Navn" disabled="@(_arrangement.Id != null)"/></label>
        <label>Beskrivelse<InputText class="form-control" placeholder="Beskrivelse" @bind-Value="_arrangement.Beskrivelse"/></label>
    </div>
    <div class="form-row">
        <div class="form-group col-md.6">
            <label>Startdato<InputDate class="form-control" @bind-Value="_arrangement.Startdato"/></label>
        </div>
        <div class="form-group col-md-6">
            <label>Sluttdato<InputDate class="form-control" @bind-Value="_arrangement.Sluttdato"/></label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" disabled="@(_arrangement.Id != null && !context.IsModified())">Lagre</button>
</EditForm>
</div>

@if(_arrangement.Id != null){
    <div class="row mt-2" @onclick=@(_ => _delegaterExpanded=!_delegaterExpanded)>
        <h4>Delegater</h4>
        <span class="ml-2 mt-1 oi @(_delegaterExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
    </div>
    if (_delegaterExpanded)
    {
        <DelegatImport ArrangementId="@_arrangement.Id.Value"/>
        <div class="row">
            @foreach (var delegat in _arrangement.Delegater)
            {
                <DelegatFormInline Delegat="@delegat" ArrangementId="@_arrangement.Id.Value"/>
            }
        </div>
        <div class="row">
            <button class="btn btn-success" @onclick="@(e => _arrangement.Delegater.Add(new DelegatModel()))">Legg til</button>
        </div>
    }
    
    <div class="row mt-2" @onclick=@(_ => _sakerExpanded=!_sakerExpanded)>
        <h4>Saker</h4>
        <span class="ml-2 mt-1 oi @(_sakerExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
    </div>
    if (_sakerExpanded)
    {
        <div class="row">
            @foreach (var sak in _arrangement.Saker)
            {
                <SakFormInline Sak="@sak" ArrangementId="@_arrangement.Id.Value"/>
            }
        </div>
        <div class="row">
            <button class="btn btn-success" @onclick="@(e => _arrangement.Saker.Add(new SakInputModel()))">Legg til</button>
        </div>
    }
    
}

@code {
    [Parameter]
    public int? ArrangementId {get;set;}
    private ArrangementModel _arrangement = new();
    
    private CustomValidator? customValidator;

    private bool _delegaterExpanded;
    private bool _sakerExpanded;
    
    protected override async Task OnInitializedAsync(){
        if(ArrangementId != null){
            var arrangement = await ArrangementService.HentArrangementModelAsync(ArrangementId.Value);
            if(arrangement != null)
                _arrangement = arrangement;
        }
    }

    private async Task HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();
        if (_arrangement.Id == null)
            await LeggTilArrangement(errors);
        else
            await OppdaterArrangement(errors);
        
        if (errors.Count > 0)
        {
            customValidator?.DisplayErrors(errors);
        }
        context.MarkAsUnmodified();
    }

    private async Task OppdaterArrangement(Dictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            _arrangement = await ArrangementService.OppdaterArrangement(_arrangement);
        }
    }

    private async Task LeggTilArrangement(IDictionary<string,List<string>> errors)
    {
        if(!await ArrangementService.IsNameAvailable(_arrangement.Navn!))
            errors.Add(nameof(_arrangement.Navn), new List<string>{"Navn er allerede brukt"});

        if (errors.Count <= 0)
        {
            _arrangement = await ArrangementService.NyttArrangement(_arrangement);
            Navigation.NavigateTo($"admin/arrangement/{_arrangement.Id}");
        }
    }

}
