@page "/admin/arrangement/{arrangementId:int}/delegat/ny-delegat"
@page "/admin/arrangement/{arrangementId:int}/delegat/{delegatId:int}"

@using Models
@using Stemmesystem.Web.Data
@inject IDelegatService DelegatService
@inject NavigationManager Navigation

@attribute [Authorize]

@if (_delegat.Id == null)
{
    <h3>Ny delegat</h3>
}
else
{
    <h3>Rediger delegat @_delegat.Delegatnummer</h3>    
}
<EditForm Model="@_delegat" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-group">
        <label>Delegatnummer<InputNumber class="form-control" placeholder="Delegatnummer" @bind-Value="_delegat.Delegatnummer" disabled="@(_delegat.Id != null)"/></label>
    </div>
    <div class="form-group">
        <label>Navn<InputText class="form-control" placeholder="Navn" @bind-Value="_delegat.Navn"/></label>
    </div>
    <div class="form-group">
        <label>Epost<InputText class="form-control" placeholder="Epost" @bind-Value="_delegat.Epost"/></label>
    </div>
    <div class="form-group">
        <label>Telefon<InputText class="form-control" placeholder="Telefon" @bind-Value="_delegat.Telefon"/></label>
    </div>

    <button type="submit" class="btn btn-primary" disabled="@(_delegat.Id != null && !context.IsModified())">Lagre</button>
</EditForm>

@code {
    [Parameter]
    public int ArrangementId{get;set;}
    [Parameter]
    public int? DelegatId {get;set;}

    private CustomValidator? customValidator;

    private DelegatModel _delegat = new();

    protected override async Task OnInitializedAsync(){
        if(DelegatId != null){
            var delegat = await DelegatService.HentDelegat(ArrangementId, DelegatId.Value);
            if(delegat != null)
                _delegat = delegat;
        }
    }

    private async Task HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();
        if (_delegat.Id == null)
            await LeggTilDelegat(errors);
        else
            await OppdaterDelegat(errors);
        
        if (errors.Count > 0)
        {
            customValidator?.DisplayErrors(errors);
        }
        context.MarkAsUnmodified();
    }

    private async Task OppdaterDelegat(IDictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            _delegat = await DelegatService.OppdaterDelegat(ArrangementId, _delegat);
        }
    }

    private async Task LeggTilDelegat(Dictionary<string, List<string>> errors)
    {
        if (!await DelegatService.IsValidNo(ArrangementId, _delegat.Delegatnummer!.Value))
            errors.Add(nameof(_delegat.Delegatnummer), new List<string> {"Delegatnummer er allerede brukt"});
        
        if (errors.Count <= 0)
        {
            _delegat = await DelegatService.RegistrerNyDelegat(ArrangementId, _delegat);
            Navigation.NavigateTo($"/admin/arrangement/{ArrangementId}/delegat/{_delegat.Id}");
        }
    }

}