@inject IAdminDelegateService DelegatService
@inject IPinSender PinSender
@inject NavigationManager Navigation
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models

<div class="row" @onclick="@(_ => _expanded=!_expanded)">
    <h4>Delegater</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" @onclick="() => SetTilstede(true)">Set alle til stede</button>
            <button class="btn btn-secondary" @onclick="() => SetTilstede(false)">Set ingen til stede</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th @ondblclick=@(_ => _showPin=!_showPin)>Delegat</th>
            @if (_showPin)
            {
                <th>Pin</th>    
            }
            <th>Til stede</th>
            @* <th>Aktiv</th> *@
            <th>Send PIN</th>
            <th>PIN sendt</th>
        </tr>
        </thead>
        @if(!_delegater.Any())
        {
            <tr><td class="text-danger">Ingen delegater</td></tr>
        }
        else
        {
            <tbody>
            @foreach (var delegat in _delegater.Values.OrderBy(s => s.DelegateNumber))
            {
                <tr>
                    <td>@delegat.DelegateNumber: @delegat.Name</td>
                    @if (_showPin)
                    {
                        <td>@delegat.DelegateCode</td>
                    }
                    <td>
                        <ToggleInput Value="delegat.Present" ValueChanged="@(b => SetTilstede(delegat.Id, b))"/>
                    </td>
                    <td>
                        
                        @if (!string.IsNullOrEmpty(delegat.Phone))
                        {
                            <SendPinSmsComponent DelegatId="delegat.Id" OnSendt="@(() => SmsSendt(delegat.Id))"/>
                        }
                        @if (!string.IsNullOrEmpty(delegat.Email))
                        {
                            <SendPinEmailComponent DelegatId="delegat.Id" OnSendt="@(() => EpostSendt(delegat.Id))"/>
                        }
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            @if (delegat.EmailSentAt != null)
                            {
                                <li>Epost sendt @delegat.EmailSentAt.Value.ToString("g")</li>
                            }
                            @if (delegat.SmsSentAt != null)
                            {
                                <li>SMS sendt @delegat.SmsSentAt.Value.ToString("g")</li>
                            }
                            @if (delegat.EmailSentAt == null && delegat.SmsSentAt == null)
                            {
                                <li class="text-danger">Nei</li>
                            }
                        </ul>
                        
                    </td>
                </tr>
            }
            </tbody>
        }
    </table>
}
@code {

    [Parameter]
    public int ArrangementId { get; set; }

    private bool _expanded;
    private bool _showPin;

    private Dictionary<int, AdminDelegateDto> _delegater = null!;


    protected override async Task OnInitializedAsync()
    {
        var delegater = await DelegatService.GetDelegates(new GetDelegateRequest(ArrangementId));
        _delegater = delegater.ToDictionary(d => d.Id);
    }

    private void SmsSendt(int delegatId)
    {
        var delegat = _delegater.GetValueOrDefault(delegatId);
        if (delegat != null)
        {
            delegat.SmsSentAt = DateTime.Now;
        }
    }
    private void EpostSendt(int delegatId)
    {
        var delegat = _delegater.GetValueOrDefault(delegatId);
        if (delegat != null)
        {
            delegat.EmailSentAt = DateTime.Now;
        }
    }

    private async Task SetTilstede(int delegatId, bool tilStede)
    {
        await DelegatService.SetPresent(new SetPresentRequest(delegatId, tilStede));
        _delegater[delegatId].Present = tilStede;
    }
    
    private async Task SetTilstede(bool tilStede)
    {
        await DelegatService.SetPresentForAll(new SetPresentForAllRequest(ArrangementId, tilStede));
        foreach (var delegat in _delegater.Values)
        {
            delegat.Present = tilStede;
        }
    }
}
