@using Stemmesystem.Shared
@using Stemmesystem.Shared.Interfaces
@inject IVoteService _stemmeService

<div class="col btn-group@(Base.Ballot.Choices.Count > 2 ? "-vertical":"") btn-group-toggle" data-toggle="buttons">
@foreach(var valg in Base.Ballot.Choices.OrderBy(v=> v.SortId)){
    <label class="btn @(Base.Votes != null && Base.Votes.Any(s=> s.ChoiceId == valg.Id) ? "btn-primary" :"btn-outline-primary") btn-lg">
        <input type="radio" name="options" id="@valg.Id" autocomplete="off" @onclick="@(async e => await Base.RegistrerStemme(valg.Id))">@valg.Name
    </label>
}
</div>

<button class="btn mt-2 @(Base.Votes != null && Base.Votes.Any(s=> s.ChoiceId == Konstanter.BlankStemme) ? "btn-primary" :"btn-outline-primary")" @onclick="@(async e => await Base.RegistrerStemme(Konstanter.BlankStemme))">Stem blankt</button>

@code {
    [CascadingParameter]
    public AktivVotering Base { get; set; } = null!;
    [Parameter]
    public string Error { get; set; } = null!;
    [Parameter]
    public EventCallback<string> ErrorChanged { get; set; }
}
