@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared
@inject IVoteService _stemmeService

<h6>Du har valgt @_valg.Count, du kan velge @Base.Ballot.MaxChoices</h6>
<div class="btn-group-toggle btn-group-vertical btn-block" data-toggle="buttons">
    @foreach (var valg in Base.Ballot.Choices.OrderBy(v => v.SortId))
    {
        <label class="btn @(_valg.Contains(valg.Id) ? "btn-outline-success active" : "btn-outline-primary")">
            <input type="checkbox" value="@valg.Id" @onclick="e => VoteChanged(valg.Id)" @onclick:preventDefault="true" checked="@_valg.Contains(valg.Id)"> @valg.Name
        </label>
    }
</div>
<div class="row mt-2 justify-content-around">
    <button class="btn col-4 @(Base.Votes.Any(s => s.ChoiceId == Constants.BlankVote) ? "btn-primary" : "btn-outline-primary")" @onclick="@(async e => await Base.RegistrerStemme(Constants.BlankVote))">Stem blankt</button>
    <button class="btn col-4 @(Base.Votes.Any() && Base.Votes.All(s => s.ChoiceId != Constants.BlankVote) ? "btn-success" : "btn-outline-success")" @onclick="@(async e => await Base.RegistrerStemme(_valg))">Stem</button>
</div>

@code {

    [CascadingParameter]
    public AktivVotering Base { get; set; } = null!;
    
    [Parameter]
    public string Error { get; set; } = null!;
    [Parameter]
    public EventCallback<string> ErrorChanged { get; set; }

    private HashSet<Guid> _valg = new();

    protected override void OnInitialized()
    {
        foreach (var stemme in Base.Votes)
        {
            _valg.Add(stemme.ChoiceId);
        }
    }

    private void VoteChanged(Guid valgId)
    {
        _valg.RemoveWhere(v => v == Constants.BlankVote);
        if (_valg.Contains(valgId))
        {
            _valg.Remove(valgId);
            ErrorChanged.InvokeAsync("");
        }
        else
        {
            if (_valg.Count >= Base.Ballot.MaxChoices)
            {
                ErrorChanged.InvokeAsync($"Du kan bare velge {Base.Ballot.MaxChoices}");
            }
            else
                _valg.Add(valgId);
        }
    }
}
