@using Stemmesystem.Shared.Interfaces
@inject IMinSpeidingOptionsRepository Repository
@inject HttpClient HttpClient
@inject ILogger<MinSpeidingImport> Logger

@if (_minSpeidingOptions == null)
{
    <p>
        <em>Laster...</em>
    </p>
}
else
{
    <EditForm Model="@_minSpeidingOptions" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            <label>Arrangement ID<InputNumber class="form-control" placeholder="Arrangement ID" @bind-Value="_minSpeidingOptions.Id"/></label>
            <label>Participants API-nøkkel<InputText class="form-control" placeholder="API-nøkkel" @bind-Value="_minSpeidingOptions.MembersApiKey"/></label>
        </div>
        <div>
            <label>Importer innsjekk som til stede:<InputCheckbox @bind-Value="_minSpeidingOptions.ImportCheckIn"/></label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Lagre</button>
        </div>
    </EditForm>
    <button class="btn btn-primary" @onclick=@(_ => LoadParticipants())>Hent deltakere</button>

    if (_participantError is not null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@_participantError</p>
        </div>
    }

    if (_participants is not null)
    {
        <br/>
        <br/>
        <div class="row">
            <div class="col-auto">
                <label>Filter:<input @bind=_minSpeidingOptions.Filter type="text" class="form-control" placeholder="Filtrer deltakere" title="Bruk felt fra json resultatet"/></label>
            </div>
            <div class="col-auto">
                eksempel: <code>fee_name=Delegat</code><br/><code>checked_in=true|org_name=Norges speiderforbund</code>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-primary" @onclick="FilterParticipants">Filtrer</button>
            </div>
        </div>
        <div>
            <div class="row mt-2" @onclick=@(_ => _rawResultExpanded=!_rawResultExpanded)>
                <h4>json resultat</h4>
                <span class="ml-2 mt-1 oi @(_rawResultExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
            </div>
            @if (_rawResultExpanded)
            {
                <pre>@_rawParticipants?.ToString() ?? "Ingen deltakere hentet"</pre>
            }
            @*<div>
                <label for="participantProperties">Velg en egenskap:</label>
                <select id="participantProperties" class="form-control">
                    @foreach (var property in _participantProperties)
                    {
                        <option value="@property">@property</option>
                    }
                </select>
            </div>*@
        </div>
        <button class="btn btn-success" @onclick="Import">Importer</button>
        @if(_importResult is not null)
        {
            <div class="alert alert-success" role="alert">
                <p>@_importResult</p>
            </div>
        }
        <h3>Forhåndsvisning av import</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Navn</th>
                <th>E-post</th>
                <th>Mobiltelefon</th>
                <th>Sjekket inn</th>
                <th>Pris</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var participant in _participants)
            {
                <tr>
                    <td>@participant.FullName</td>
                    <td>@participant.PrimaryEmail</td>
                    <td>@participant.ContactInfo.GetValueOrDefault("Mobiltelefon")</td>
                    <td>@(participant.CheckedIn == true ? "Ja" : "Nei")</td>
                    <td>@participant.FeeName</td>
                </tr>
            }
            </tbody>
        </table>
    }
}