@using Stemmesystem.Shared
@using Stemmesystem.Shared.Models

<div class="card">
    <div class="card-header" @onclick="@(_ => _visDetaljer = !_visDetaljer)">
        @Votering.SakNummer: @Votering.SakNavn - @Votering.Tittel
        <span class="ml-2 mt-1 oi float-right @(_visDetaljer ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
    </div>
    <div class="collapse @(_visDetaljer ? "show" : "")" id="collapseOne">
        <div class="card-body">
            
            <div class="row">
                <div class="col-auto"><b>Delegater som stemte:</b> @(Votering.AvgitteStemmer)</div>
                <div class="col-auto"><b>Tellende stemmer (ikke blanke):</b> @(_tellendeStemmer)</div>
                @if(Votering.DelegaterTilstede != null)
                {
                    <div class="col-auto"><b>Delegater til stede:</b> @Votering.DelegaterTilstede</div>
                }
            </div>
            @if (_tellendeStemmer == 0)
            {
                <tr><td class="text-danger">Ingen tellende stemmer</td></tr>
            }
            else
            {
                foreach(var (id, stemmer) in _resultater.OrderByDescending(r=> r.Value))
                {
                    <div>@_valg[id]: @stemmer (@(Math.Round(100m * stemmer/_tellendeStemmer,2))%)</div>
                }
            }
            <div>@(_blankt == 1 ? "1 blank stemme": $"{_blankt} blanke stemmer")</div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public VoteringResultatDto Votering { get; set; } = null!;


    private Dictionary<Guid, string> _valg = new();
    private Dictionary<Guid, int> _resultater = new();
    private bool _visDetaljer;
    private int _tellendeStemmer;
    private int _blankt;


    protected override void OnInitialized()
    {
        _valg = Votering.Valg.ToDictionary(v => v.Id, v => v.Navn);
        _resultater = new Dictionary<Guid, int>(Votering.Valg.Count);
        foreach(var valg in Votering.Valg)
        {
            _resultater[valg.Id] = 0;
        }

        _blankt = 0;
        foreach (var stemme in Votering.Stemmer)
        {
            if (stemme.ValgId == Konstanter.BlankStemme)
            {
                _blankt++;
                continue;
            }

            _resultater[stemme.ValgId]++;
        }
        _tellendeStemmer = Votering.AvgitteStemmer - _blankt;
    }
}
