@using Microsoft.AspNetCore.Components
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Components
@using AutoMapper
@inject ISakService _sakService
@inject NavigationManager _nav
@inject IMapper _mapper

<EditForm EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="col-2">
            <FocusableInputText @ref="firstInput" class="form-control" placeholder="Saknummer" @bind-Value="Sak.Nummer"/>
        </div>
        <div class="col-8">
            <InputText class="form-control" placeholder="Tittel" @bind-Value="Sak.Tittel"/>
        </div>
        <div class="col-8">
            <InputText class="my-1 form-control" placeholder="Beskrivelse" @bind-Value="Sak.Beskrivelse"/>    
        </div>
        
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" disabled="@(Sak?.Id != null && !context.IsModified())">Lagre</button>
            <button class="btn btn-secondary" disabled="@(Sak?.Id == null && _voteringer?.Any() == false)" @onclick:preventDefault @onclick="@OnVoteringExpandClick"><i class="oi @(_voteringExpanded ? "oi-chevron-top":"oi-chevron-bottom")"></i></button>
        </div>
    </div>
    @if (_voteringExpanded)
    {
        <h5>Voteringer</h5>
        if (_voteringer == null)
        {
            <em>Ingen voteringer</em>
        }
        else if(Sak?.Id != null)
        {
            foreach (var votering in _voteringer)
            {
                <VoteringFormInline Votering="@votering" />
            }
            <button class="btn-sm btn-success" @onclick:preventDefault @onclick="@(() => _voteringer.Add(new VoteringInputModel {SakId = Sak.Id}))">Legg til votering</button>
        }
        
    }
    <hr/>
</EditForm>
@code {
    [Parameter]
    public int ArrangementId {get;set;} 
    [Parameter]
    public SakInputModel Sak {get;set;} = null!;

    public EditContext? EditContext { get; set; }
    private CustomValidator? customValidator;
    private FocusableInputText? firstInput;
    private bool _voteringExpanded;
    private ICollection<VoteringInputModel>? _voteringer;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Sak);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && firstInput != null)
            await firstInput.FocusAsync();
    }

    private async Task OnVoteringExpandClick()
    {
        _voteringExpanded = !_voteringExpanded;
        if (_voteringExpanded && _voteringer == null)
        {
            var voteringer = await _sakService.HentVoteringer(new HentVoteringerRequest(Sak.Id));
            _voteringer = _mapper.Map<List<VoteringInputModel>>(voteringer);
        }
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();

        Sak.ArrangementId = ArrangementId;
        
        if (Sak.Id != default)
        {
            var sak = await _sakService.OppdaterSak(Sak);
            _mapper.Map(sak, Sak);
        }
        else
        {
            var (sakDto, errors) = await _sakService.LagreNySak(Sak);
            if (errors?.Count > 0)
            {
                customValidator?.DisplayErrors(errors);
                context.MarkAsUnmodified();
                return false;
            }
            
            _mapper.Map(sakDto, Sak);
        }
        context.MarkAsUnmodified();
        return true;
    }

}