@using Stemmesystem.Core.Interfaces
@using Stemmesystem.Core.Models
@using Stemmesystem.Web.Components
@using AutoMapper
@inject ISakService SakService
@inject NavigationManager Nav
@inject IMapper Mapper

<EditForm EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="_customValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="col-2">
            <FocusableInputText @ref="_firstInput" class="form-control" placeholder="Saknummer" @bind-Value="Sak.Nummer"/>
        </div>
        <div class="col-8">
            <InputText class="form-control" placeholder="Tittel" @bind-Value="Sak.Tittel"/>
        </div>
        <div class="col-8">
            <InputText class="my-1 form-control" placeholder="Beskrivelse" @bind-Value="Sak.Beskrivelse"/>    
        </div>
        
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" disabled="@(!context.IsModified())">Lagre</button>
            <button class="btn btn-secondary" @onclick:preventDefault @onclick="@OnVoteringExpandClick"><i class="oi @(_voteringExpanded ? "oi-chevron-top":"oi-chevron-bottom")"></i></button>
        </div>
    </div>
    @if (_voteringExpanded)
    {
        <h5>Voteringer</h5>
        if (_voteringer == null)
        {
            <em>Ingen voteringer</em>
        }
        else
        {
            foreach (var votering in _voteringer)
            {
                <VoteringFormInline Votering="@votering" />
            }
            <button class="btn-sm btn-success" @onclick:preventDefault @onclick="@(() => _voteringer.Add(new VoteringInputModel { SakId = Sak.Id, Tittel = string.Empty }))">Legg til votering</button>
        }
        
    }
    <hr/>
</EditForm>
@code {
    [Parameter]
    public int ArrangementId {get;set;} 
    [Parameter]
    public SakInputModel Sak {get;set;} = null!;

    public EditContext? EditContext { get; set; }
    private CustomValidator? _customValidator;
    private FocusableInputText? _firstInput;
    private bool _voteringExpanded;
    private ICollection<VoteringInputModel>? _voteringer;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Sak);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _firstInput != null)
            await _firstInput.FocusAsync();
    }

    private async Task OnVoteringExpandClick()
    {
        _voteringExpanded = !_voteringExpanded;
        if (_voteringExpanded && _voteringer == null)
        {
            var voteringer = await SakService.HentVoteringer(new HentVoteringerRequest(Sak.Id));
            _voteringer = Mapper.Map<List<VoteringInputModel>>(voteringer);
        }
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        _customValidator?.ClearErrors();

        Sak.ArrangementId = ArrangementId;
        
        if (Sak.Id != default)
        {
            var sak = await SakService.OppdaterSak(Sak);
            Mapper.Map(sak, Sak);
        }
        else
        {
            var (sakDto, errors) = await SakService.LagreNySak(Sak);
            if (errors.Count > 0)
            {
                _customValidator?.DisplayErrors(errors);
                context.MarkAsUnmodified();
                return false;
            }
            
            Mapper.Map(sakDto, Sak);
        }
        context.MarkAsUnmodified();
        return true;
    }

}