@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Components
@inject ISakService SakService
@inject NavigationManager Nav

<EditForm EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="_customValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="col-2">
            <FocusableInputText @ref="_firstInput" class="form-control" placeholder="Saknummer" @bind-Value="Sak.Nummer"/>
        </div>
        <div class="col-8">
            <InputText class="form-control" placeholder="Tittel" @bind-Value="Sak.Tittel"/>
        </div>
        <div class="col-8">
            <InputText class="my-1 form-control" placeholder="Beskrivelse" @bind-Value="Sak.Beskrivelse"/>    
        </div>
        
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" disabled="@(!context.IsModified())">Lagre</button>
            <button class="btn btn-secondary" @onclick:preventDefault @onclick="@OnVoteringExpandClick"><i class="oi @(_voteringExpanded ? "oi-chevron-top":"oi-chevron-bottom")"></i></button>
        </div>
    </div>
    @if (_voteringExpanded)
    {
        <h5>Voteringer</h5>
        if (_voteringer == null)
        {
            <em>Ingen voteringer</em>
        }
        else
        {
            foreach (var votering in _voteringer)
            {
                if (votering.Startet)
                {
                    <div class="card">
                        <div class="card-header">
                            @votering.Tittel
                        </div>
                        <div class="card-body">
                            <em>Votering har startet og kan ikke endres</em>
                        </div>
                    </div>
                }
                else
                {
                    <VoteringFormInline Votering="@(new VoteringFormModel(votering))" />
                }
            }
            <button class="btn-sm btn-success" @onclick:preventDefault @onclick="@(() => _voteringer.Add(new VoteringDto {SakId = Sak.Id}))">Legg til votering</button>
        }
            
    }
    <hr/>
</EditForm>
@code {
    [Parameter]
    public int ArrangementId {get;set;} 
    [Parameter]
    public SakFormModel Sak {get;set;} = null!;

    public EditContext? EditContext { get; set; }
    private CustomValidator? _customValidator;
    private FocusableInputText? _firstInput;
    private bool _voteringExpanded;
    private ICollection<VoteringDto>? _voteringer;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Sak);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _firstInput != null)
            await _firstInput.FocusAsync();
    }

    private async Task OnVoteringExpandClick()
    {
        _voteringExpanded = !_voteringExpanded;
        if (_voteringExpanded && _voteringer == null)
        {
            _voteringer = await SakService.HentVoteringer(new HentVoteringerRequest(Sak.Id));
        }
    }

    private async Task<bool> HandleValidSubmit(EditContext context){
        _customValidator?.ClearErrors();

        var inputModel = Sak.ToInputModel(ArrangementId);
        if (Sak.Id != default)
        {
            var sak = await SakService.OppdaterSak(inputModel);
            Sak.ApplyChanges(sak);
        }
        else
        {
            
            var (sakDto, errors) = await SakService.LagreNySak(inputModel);
            if (errors?.Count > 0)
            {
                _customValidator?.DisplayErrors(errors);
                context.MarkAsUnmodified();
                return false;
            }

            if (sakDto is not null)
            {
                Sak.ApplyChanges(sakDto);
            }
        }
        context.MarkAsUnmodified();
        return true;
    }

}