@inject IVoteService StemmeService
@inject ICaseService SakService
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Shared
@using Stemmesystem.Client.SignalR
@using System.Collections.Concurrent
@implements IAsyncDisposable
@inherits OwningComponentBase<Stemmesystem.Client.SignalR.IAdminNotifierService>

<div class="row" @onclick="@(_ => _expanded=!_expanded)">
    <h4>Saker</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    if(!_saker.Any())
    {
        <tr><td class="text-danger">Ingen saker</td></tr>
    }
    else
    {
        foreach (var sak in _saker.Values.OrderBy(s => s.Number))
        {
            <h5>@sak.Number - @sak.Title</h5>
            <p><small>@sak.Description</small></p>
            foreach (var voteringId in sak.Ballots.Keys)
            {
                var votering = _voteringer[voteringId];
                <SakslisteLinje Votering="@votering" ArrangementId="@ArrangementId" Notifier="Notifier"></SakslisteLinje>
            }
        }
    }
}

@code {
    [Parameter]
    public int ArrangementId { get; set; }
    private IAdminNotifierService Notifier => Service;
    private ConcurrentDictionary<int, DashboardSakModel> _saker = null!;
    private ConcurrentDictionary<int, DashboardVoteringModel> _voteringer = new();


    private bool _expanded;
    private bool _inconsistentState;
    private readonly List<IDisposable?> _subscriptions = new();

    protected override async Task OnInitializedAsync()
    {
        var saker = await SakService.GetCases(new CasesRequest(ArrangementId));

        _saker = new ConcurrentDictionary<int, DashboardSakModel>();
        _voteringer = new ConcurrentDictionary<int, DashboardVoteringModel>();
        foreach (var sakDto in saker)
        {
            var sak = new DashboardSakModel(sakDto.Id, sakDto.Number, sakDto.Title, sakDto.Description, sakDto.Ballots.Select(v => v.Id));
            _saker[sak.Id] = sak;

            foreach (var voteringDto in sakDto.Ballots)
            {
                var votering = new DashboardVoteringModel(voteringDto.Id, voteringDto.Title, voteringDto.Description, voteringDto.Choices, voteringDto.VotedDelegates, voteringDto.MaxChoices, voteringDto.Votes)
                {
                    Active = voteringDto.Active,
                    Locked = voteringDto.Locked,
                    Published = voteringDto.Published,
                    DelegatesPresent = voteringDto.DelegatesPresent,
                    EndTime = voteringDto.EndTime
                };

                _voteringer[votering.Id] = votering;
            }
        }

        _subscriptions.AddRange(new[]
        {
            Notifier.OnBallotStarted(OnVoteringStartet),
            Notifier.OnBallotStopped(OnVoteringStoppet),
            Notifier.OnBallotLocked(OnVoteringLukket),
            Notifier.OnBallotPublished(OnVoteringPublisert),
            Notifier.OnNewBallot(NyVotering),
            Notifier.OnNewVote(OnNyStemme),
            Notifier.OnVoteRemoved(OnStemmeFjernet)
        });
        await Notifier.Start();
        await Notifier.JoinArrangement(ArrangementId);
    }

    private void OnNyStemme(NewVoteEvent e)
    {
        var (voteringId, stemme) = e;
        _voteringer.TryGetValue(voteringId, out var votering);

        if (votering is not null)
        {
            votering.Votes[stemme.Id] = stemme;
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    private void OnStemmeFjernet(VoteRemovedEvent e)
    {
        var (voteringId, stemmeId) = e;
        _voteringer.TryGetValue(voteringId, out var votering);
        if (votering != null)
        {
            votering.Votes.Remove(stemmeId, out _);
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    private void OnVoteringStoppet(BallotStoppedEvent e)
    {
        var (voteringId, _, stemmer) = e;

        if (_voteringer.TryGetValue(voteringId, out var votering))
        {
            votering.Active = false;
            votering.EndTime = e.Time;

            votering.Votes.Clear();
            foreach (var stemme in stemmer)
            {
                votering.Votes[stemme.Id] = stemme;
            }
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    private void OnVoteringStartet(BallotStartedEvent e)
    {
        if(_voteringer.TryGetValue(e.Ballot.Id, out var votering))
        {
            votering.Active = true;
            StateHasChanged();
        }
        else
        {
            _inconsistentState = true;
        }
    }

    private void OnVoteringLukket(BallotLockedEvent e)
    {
        if (_voteringer.TryGetValue(e.BallotId, out var votering))
        {
            votering.Locked = true;
            votering.DelegatesPresent = e.DelegatesPresent;
            StateHasChanged();
        }
        else
        {
            _inconsistentState = true;
        }
    }

    private void OnVoteringPublisert(BallotPublishedEvent e)
    {
        var (arrangementId,_, voteringId) = e;
        if (arrangementId != ArrangementId)
            return;

        if (_voteringer.TryGetValue(voteringId, out var votering))
        {
            votering.Published = true;
            StateHasChanged();
        }
        else
        {
            _inconsistentState = true;
        }
    }

    private void NyVotering(NewBallotEvent e)
    {
        var votering = e.Ballot;
        if(_saker.TryGetValue(votering.CaseId, out var sak))
        {
            sak.Ballots[votering.Id] = votering.Id;
            _voteringer[votering.Id] = new DashboardVoteringModel(votering.Id, votering.Title, votering.Description, votering.Choices,votering.VotedDelegates, votering.MaxChoices);
        }
        StateHasChanged();
    }


    public async ValueTask DisposeAsync()
    {
        await Notifier.LeaveArrangement(ArrangementId);
        foreach (var s in _subscriptions)
        {
            s?.Dispose();
        }
    }

    internal record DashboardSakModel
    {
        public int Id { get; init; }
        public string? Number { get; init; }
        public string? Title { get; init; }
        public string? Description { get; init; }
        public ConcurrentDictionary<int,int> Ballots { get; init; }

        public DashboardSakModel(int Id, string? Nummer, string? Tittel, string? Beskrivelse, IEnumerable<int> Voteringer)
        {
            this.Id = Id;
            this.Number = Nummer;
            this.Title = Tittel;
            this.Description = Beskrivelse;
            this.Ballots = new ConcurrentDictionary<int,int>(Voteringer.Select(v => new KeyValuePair<int, int>(v,v)));
        }
    }

    public record DashboardVoteringModel
    {
        public DashboardVoteringModel(int Id, string tittel, string beskrivelse, IEnumerable<ChoiceDto> valg, IEnumerable<DelegateDto> avgitStemme, int kanVelge, IEnumerable<VoteDto>? Stemmer = null)
        {
            this.Id = Id;
            Title = tittel;
            Description = beskrivelse;
            MaxChoices = kanVelge;
            Choices = valg
                .Select(v => new DashboardValgModel(v.Id,v.Name,v.SortId))
                .ToArray();

            VotedDelegates = avgitStemme
                .Select(d => d.Id)
                .ToArray();

            this.Votes = Stemmer is null 
                ? new ConcurrentDictionary<Guid, VoteDto>() 
                : new ConcurrentDictionary<Guid, VoteDto>(Stemmer.Select(s => new KeyValuePair<Guid, VoteDto>(s.Id, s)));
        }

        public int Id { get; }
        public string Title { get; }
        public string Description { get; }
        public bool Active { get; set; }
        public bool Locked { get; set; }
        public bool Published { get; set; }
        public int? DelegatesPresent { get; set; }
        public DateTime? EndTime { get; set; }

        public ConcurrentDictionary<Guid, VoteDto> Votes { get; }
        public IReadOnlyCollection<int> VotedDelegates { get; }
        public IReadOnlyCollection<DashboardValgModel> Choices { get; }
        public int MaxChoices { get; }
    }
    
    public record DashboardValgModel(Guid Id, string Name, int? SortId);

}
