@inject IStemmeService _stemmeService
@inject ISakService _sakService
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Shared
@using Stemmesystem.Client.SignalR
@implements IAsyncDisposable
@inherits OwningComponentBase<Stemmesystem.Client.SignalR.IAdminNotifierService>

<div class="row" @onclick="@(_ => _expanded=!_expanded)">
    <h4>Saker</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    if(!_saker.Any())
    {
        <tr><td class="text-danger">Ingen saker</td></tr>
    }
    else
    {
        foreach (var sak in _saker.OrderBy(s => s.Nummer))
        {
            <h5>@sak.Nummer - @sak.Tittel</h5>
            <p><small>@sak.Beskrivelse</small></p>
            foreach (var votering in sak.Voteringer){
                <SakslisteLinje Votering="@votering" ArrangementId="@ArrangementId" Notifier="Notifier"></SakslisteLinje>
            }
        }
    }
}

@code {
    [Parameter]
    public int ArrangementId { get; set; }
    private IAdminNotifierService Notifier => Service;
    private ICollection<AdminSakDto> _saker = null!;
    private bool _expanded;
    private bool _inconsistentState;
    private readonly List<IDisposable?> _subscriptions = new() ;

    protected override async Task OnInitializedAsync()
    {
        _saker = await _sakService.HentSaker(new SakerRequest(ArrangementId));

        _subscriptions.AddRange(new[]
        {
            Notifier.OnVoteringStartet(OnVoteringStartet),
            Notifier.OnVoteringStoppet(OnVoteringStoppet),
            Notifier.OnVoteringLukket(OnVoteringLukket),
            Notifier.OnVoteringPublisert(OnVoteringPublisert),
            Notifier.OnNyVotering(NyVotering),
            Notifier.OnNyStemme(OnNyStemme),
            Notifier.OnStemmeFjernet(OnStemmeFjernet)
        });
        await Notifier.Start();
        await Notifier.KobleTilArrangement(ArrangementId);
    }

    public void OnNyStemme(NyStemmeEvent e)
    {
        var (voteringId, stemme) = e;
        var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == voteringId);
        if (votering is {Stemmer: { } })
        {
            votering.Stemmer.Add(stemme);
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    public void OnStemmeFjernet(StemmeFjernetEvent e)
    {
        var (voteringId, stemmeId) = e;
        var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == voteringId);
        if (votering != null)
        {
            votering.Stemmer.RemoveAll(s=> s.Id == stemmeId);
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    private void OnVoteringStoppet(VoteringStoppetEvent e)
    {
        var (voteringId, time) = e;
        var votering = _saker.SelectMany(s => s.Voteringer).FirstOrDefault(v => v.Id == voteringId);
        if (votering != null)
        {
            votering.Aktiv = false;
            votering.SluttTid = time;
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }

    private void OnVoteringStartet(VoteringStartetEvent e)
    {
        var sak = _saker.FirstOrDefault(s => s.Id == e.Votering.SakId);
        if (sak != null)
        {
            var index =  sak.Voteringer.FindIndex(v => v.Id == e.Votering.Id);
            if (index >= 0)
            {
                sak.Voteringer[index] = sak.Voteringer[index] with{ Aktiv = true, StartTid = e.Votering.StartTid};
                StateHasChanged();
                return;
            }
        }
        _inconsistentState = true;
    }

    private void OnVoteringLukket(VoteringLukketEvent e)
    {
        var sak = _saker.FirstOrDefault(s => s.Id == e.SakId);
        if (sak != null)
        {
            var index =  sak.Voteringer.FindIndex(v => v.Id == e.VoteringId);
            if (index >= 0)
            {
                sak.Voteringer[index] = sak.Voteringer[index] with{ Lukket = true};
                StateHasChanged();
                return;
            }
        }
        _inconsistentState = true;
    }

    private void OnVoteringPublisert(VoteringPublisertEvent e)
    {
        var (arrangementId,sakId, voteringId) = e;
        if (arrangementId != ArrangementId)
            return;
        var sak = _saker.FirstOrDefault(s => s.Id == sakId);
        if (sak != null)
        {
            var index =  sak.Voteringer.FindIndex(v => v.Id == voteringId);
            if (index >= 0)
            {
                sak.Voteringer[index] = sak.Voteringer[index] with { Publisert = true };
                StateHasChanged();
                return;
            }
        }
        _inconsistentState = true;
    }

    private void NyVotering(NyVoteringEvent e)
    {
        var votering = e.Votering;
        var sak = _saker.FirstOrDefault(s => s.Id == votering.SakId);
        if (sak != null)
        {
            sak.Voteringer.Add(votering);
        }
        else
        {
            _inconsistentState = true;
        }
        StateHasChanged();
    }


    public async ValueTask DisposeAsync()
    {
        await Notifier.KobleFraArrangement(ArrangementId);
        foreach (var s in _subscriptions)
        {
            s?.Dispose();
        }
    }
}
