@inject IStemmeService StemmeService
@inject ISakService SakService
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Shared
@using Stemmesystem.Client.SignalR
@using System.Collections.Concurrent
@implements IAsyncDisposable
@inherits OwningComponentBase<Stemmesystem.Client.SignalR.IAdminNotifierService>

<div class="row" @onclick="@(_ => _expanded=!_expanded)">
    <h4>Saker</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    if(!_saker.Any())
    {
        <tr><td class="text-danger">Ingen saker</td></tr>
    }
    else
    {
        foreach (var sak in _saker.Values.OrderBy(s => s.Nummer))
        {
            <h5>@sak.Nummer - @sak.Tittel</h5>
            <p><small>@sak.Beskrivelse</small></p>
            foreach (var voteringId in sak.Voteringer.Keys)
            {
                var votering = _voteringer[voteringId];
                <SakslisteLinje Votering="@votering" ArrangementId="@ArrangementId" Notifier="Notifier"></SakslisteLinje>
            }
        }
    }
}

@code {
    [Parameter]
    public int ArrangementId { get; set; }
    private IAdminNotifierService Notifier => Service;
    private ConcurrentDictionary<int, DashboardSakModel> _saker = null!;
    private ConcurrentDictionary<int, DashboardVoteringModel> _voteringer = new();


    private bool _expanded;
    private readonly List<IDisposable?> _subscriptions = [];

    protected override async Task OnInitializedAsync()
    {
        var saker = await SakService.HentSaker(new SakerRequest(ArrangementId));

        _saker = new ConcurrentDictionary<int, DashboardSakModel>();
        _voteringer = new ConcurrentDictionary<int, DashboardVoteringModel>();
        foreach (var sakDto in saker)
        {
            var sak = new DashboardSakModel(sakDto.Id, sakDto.Nummer, sakDto.Tittel, sakDto.Beskrivelse, sakDto.Voteringer.Select(v => v.Id));
            _saker[sak.Id] = sak;

            foreach (var voteringDto in sakDto.Voteringer)
            {
                var votering = new DashboardVoteringModel(voteringDto.Id, voteringDto.Tittel ?? "", voteringDto.Beskrivelse, voteringDto.Valg, voteringDto.AvgitStemme, voteringDto.KanVelge, voteringDto.Stemmer)
                {
                    Aktiv = voteringDto.Aktiv,
                    Lukket = voteringDto.Lukket,
                    Publisert = voteringDto.Publisert,
                    DelegaterTilstede = voteringDto.DelegaterTilstede,
                    SluttTid = voteringDto.SluttTid
                };

                _voteringer[votering.Id] = votering;
            }
        }

        _subscriptions.AddRange([
            Notifier.OnVoteringStartet(OnVoteringStartet),
            Notifier.OnVoteringStoppet(OnVoteringStoppet),
            Notifier.OnVoteringLukket(OnVoteringLukket),
            Notifier.OnVoteringPublisert(OnVoteringPublisert),
            Notifier.OnNyVotering(NyVotering),
            Notifier.OnNyStemme(OnNyStemme),
            Notifier.OnStemmeFjernet(OnStemmeFjernet)
        ]);
        await Notifier.Start();
        await Notifier.KobleTilArrangement(ArrangementId);
    }

    private void OnNyStemme(NyStemmeEvent e)
    {
        var (voteringId, stemme) = e;
        _voteringer.TryGetValue(voteringId, out var votering);

        if (votering is not null)
        {
            votering.Stemmer[stemme.Id] = stemme;
        }

        StateHasChanged();
    }

    private void OnStemmeFjernet(StemmeFjernetEvent e)
    {
        var (voteringId, stemmeId) = e;
        _voteringer.TryGetValue(voteringId, out var votering);
        if (votering != null)
        {
            votering.Stemmer.Remove(stemmeId, out _);
        }

        StateHasChanged();
    }

    private void OnVoteringStoppet(VoteringStoppetEvent e)
    {
        var (voteringId, _, stemmer) = e;

        if (_voteringer.TryGetValue(voteringId, out var votering))
        {
            votering.Aktiv = false;
            votering.SluttTid = e.Time;

            votering.Stemmer.Clear();
            foreach (var stemme in stemmer)
            {
                votering.Stemmer[stemme.Id] = stemme;
            }
        }

        StateHasChanged();
    }

    private void OnVoteringStartet(VoteringStartetEvent e)
    {
        if (!_voteringer.TryGetValue(e.Votering.Id, out var votering)) return;
        votering.Aktiv = true;
        StateHasChanged();
    }

    private void OnVoteringLukket(VoteringLukketEvent e)
    {
        if (!_voteringer.TryGetValue(e.VoteringId, out var votering)) 
            return;
        votering.Lukket = true;
        votering.DelegaterTilstede = e.DelegaterTilstede;
        StateHasChanged();
    }

    private void OnVoteringPublisert(VoteringPublisertEvent e)
    {
        var (arrangementId,_, voteringId) = e;
        if (arrangementId != ArrangementId)
            return;

        if (!_voteringer.TryGetValue(voteringId, out var votering)) 
            return;

        votering.Publisert = true;
        StateHasChanged();
    }

    private void NyVotering(NyVoteringEvent e)
    {
        var votering = e.Votering;
        if(_saker.TryGetValue(votering.SakId, out var sak))
        {
            sak.Voteringer[votering.Id] = votering.Id;
            _voteringer[votering.Id] = new DashboardVoteringModel(votering.Id, votering.Tittel, votering.Beskrivelse, votering.Valg,votering.AvgitStemme, votering.KanVelge);
        }
        StateHasChanged();
    }


    public async ValueTask DisposeAsync()
    {
        await Notifier.KobleFraArrangement(ArrangementId);
        foreach (var s in _subscriptions)
        {
            s?.Dispose();
        }
    }

    internal record DashboardSakModel
    {
        public int Id { get; init; }
        public string? Nummer { get; init; }
        public string? Tittel { get; init; }
        public string? Beskrivelse { get; init; }
        public ConcurrentDictionary<int,int> Voteringer { get; init; }

        public DashboardSakModel(int Id, string? Nummer, string? Tittel, string? Beskrivelse, IEnumerable<int> Voteringer)
        {
            this.Id = Id;
            this.Nummer = Nummer;
            this.Tittel = Tittel;
            this.Beskrivelse = Beskrivelse;
            this.Voteringer = new ConcurrentDictionary<int,int>(Voteringer.Select(v => new KeyValuePair<int, int>(v,v)));
        }
    }

    public record DashboardVoteringModel
    {
        public DashboardVoteringModel(int Id, string? tittel, string? beskrivelse, IEnumerable<ValgDto> valg, IEnumerable<int> avgitStemme, int kanVelge, IEnumerable<StemmeDto>? Stemmer = null)
        {
            this.Id = Id;
            Tittel = tittel ?? "[Uten tittel]";
            Beskrivelse = beskrivelse;
            KanVelge = kanVelge;
            Valg = valg
                .Select(v => new DashboardValgModel(v.Id,v.Navn,v.SortId))
                .ToArray();

            AvgitStemme = avgitStemme.ToArray();

            this.Stemmer = Stemmer is null 
                ? new ConcurrentDictionary<Guid, StemmeDto>() 
                : new ConcurrentDictionary<Guid, StemmeDto>(Stemmer.Select(s => new KeyValuePair<Guid, StemmeDto>(s.Id, s)));
        }

        public int Id { get; }
        public string Tittel { get; }
        public string? Beskrivelse { get; }
        public bool Aktiv { get; set; }
        public bool Lukket { get; set; }
        public bool Publisert { get; set; }
        public int? DelegaterTilstede { get; set; }
        public DateTime? SluttTid { get; set; }

        public ConcurrentDictionary<Guid, StemmeDto> Stemmer { get; }
        public IReadOnlyCollection<int> AvgitStemme { get; }
        public IReadOnlyCollection<DashboardValgModel> Valg { get; }
        public int KanVelge { get; }
    }
    
    public record DashboardValgModel(Guid Id, string Navn, int? SortId);

}
