@using Microsoft.AspNetCore.Components
@using Stemmesystem.Core.Interfaces
@using Stemmesystem.Core.Models
@using Stemmesystem.Web.Components
@using AutoMapper
@inject ISakService SakService
@inject IMapper Mapper


@if (Votering.Startet)
{
    <div class="card">
        <div class="card-header">
            @Votering.Tittel
        </div>
        <div class="card-body">
            <em>Votering har startet og kan ikke endres</em>
        </div>
    </div>
}
else
{
    <EditForm class="mb-2" Model="@Votering" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <CustomValidator @ref="_customValidator" />
        <ValidationSummary />
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    <div class="col-6">
                        <InputText class="form-control" placeholder="Tittel" @bind-Value="Votering.Tittel"/>
                    </div>
                    <div class="col-2">
                        <InputNumber class="form-control" placeholder="Kan velge" @bind-Value="Votering.KanVelge"/>
                    </div>
                    <div class="form-group">
                        <div class="form-check col-3 mt-2">
                            <InputCheckbox class="form-check-input" placeholder="Hemmelig" @bind-Value="Votering.Hemmelig" id="hemmeligCheck"/>
                            <label class="form-check-label" for="hemmeligCheck">Hemmelig</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <InputText class="form-control" placeholder="Beskrivelse" @bind-Value="Votering.Beskrivelse"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Lagre</button>
                </div>
            </div>
            <div class="card-body">
                <h6>Valg</h6>
                @foreach (var valg in Votering.Valg.OrderBy(v => v.SortId))
                {
                    <ValgInline Valg="@valg" OnTaVekkValg="@TaVekkValg"></ValgInline>
                }
                <button type="button" class="btn btn-success btn-sm mt-1" @onclick=LeggTilValg>Legg til valg</button>
            </div>
        </div>
    </EditForm>
}

@code {

    [Parameter]
    public VoteringInputModel Votering { get; set; } = null!;

    [Parameter]
    public EventCallback OnSuccess { get; set; }

    private CustomValidator? _customValidator;
    
    private async Task HandleValidSubmit(){
        _customValidator?.ClearErrors();

        Votering.Valg.RemoveAll(v => string.IsNullOrEmpty(v.Navn));
        if (Votering.Id.GetValueOrDefault() != default)
        {
            var (votering, errors) = await SakService.OppdaterVotering(Votering);

            if (errors.Count > 0)
            {
                _customValidator?.DisplayErrors(errors);
                return;
            }
            if (votering != null)
            {
                Mapper.Map(votering, Votering);  
                await OnSuccess.InvokeAsync();    
            }
        }
        else
        {
            var (votering, errors) = await SakService.LagreNyVotering(Votering);
            
            if (errors?.Count > 0)
            {
                _customValidator?.DisplayErrors(errors);
                return;
            }
            
            if(votering != null)
            {
                Mapper.Map(votering, Votering);
                await OnSuccess.InvokeAsync();    
            }
        }
    }

    private void LeggTilValg()
    {
        Votering.Valg.Add(new ValgDto { Id = Guid.NewGuid(), SortId = Votering.Valg.Count, Navn = string.Empty });
    }

    private void TaVekkValg(Guid valgId)
    {
        Votering.Valg.RemoveAll(v => v.Id == valgId);
    }
}