@page "/admin/arrangement/nytt-arrangement"
@page "/admin/arrangement/{arrangementId:int}"
@using Microsoft.AspNetCore.Components
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Components
@using Microsoft.AspNetCore.Authorization
@using AutoMapper
@inject IArrangementService _arrangementService
@inject NavigationManager _navigation

@attribute [Authorize(Roles = "admin")]

@if (!_ready)
{
    <p><em>Laster...</em></p>
}
else
{
        <div class="row">
    @if (_arrangement.Id == null)
    {
        <h3>Nytt arrangement</h3>
    }
    else
    {
        <h3>Rediger arrangement <b>@_arrangement.Navn</b></h3>    
    }    
    </div>

    <div class="row">
    <EditForm Model="@_arrangement" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <CustomValidator @ref="_customValidator" />
        <ValidationSummary />
        <div class="form-group">
            <label>Navn<InputText class="form-control" placeholder="Navn" @bind-Value="_arrangement.Navn" disabled="@(_arrangement.Id != null)"/></label>
            <label>Beskrivelse<InputText class="form-control" placeholder="Beskrivelse" @bind-Value="_arrangement.Beskrivelse"/></label>
        </div>
        <div class="form-row">
            <div class="form-group col-md.6">
                <label>Startdato<InputDate class="form-control" @bind-Value="_arrangement.Startdato"/></label>
            </div>
            <div class="form-group col-md-6">
                <label>Sluttdato<InputDate class="form-control" @bind-Value="_arrangement.Sluttdato"/></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled="@(_arrangement.Id != null && !context.IsModified())">Lagre</button>
    </EditForm>
    </div>

    @if(_arrangement.Id != null){
        <div class="row mt-2" @onclick=@(_ => _delegaterExpanded=!_delegaterExpanded)>
            <h4>Delegater</h4>
            <span class="ml-2 mt-1 oi @(_delegaterExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
        </div>
        if (_delegaterExpanded)
        {
            <DelegatImport ArrangementId="@_arrangement.Id.Value"/>
            <div class="row">
                @foreach (var delegat in Delegater.OrderBy(d => d.Delegatnummer ?? int.MaxValue))
                {
                    <DelegatFormInline DelegatInput="@delegat" ArrangementId="@_arrangement.Id.Value" />
                }
            </div>
            <div class="row">
                <button class="btn btn-success" @onclick="@(_ => Delegater.Add(new DelegatInputModel()))">Legg til</button>
            </div>
        }
        
        <div class="row mt-2" @onclick=@(_ => _sakerExpanded=!_sakerExpanded)>
            <h4>Saker</h4>
            <span class="ml-2 mt-1 oi @(_sakerExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
        </div>
        if (_sakerExpanded)
        {
            <SakImport ArrangementId="@_arrangement.Id.Value"/>
            <div class="row">
                @foreach (var sak in Saker)
                {
                    <SakFormInline Sak="@sak" ArrangementId="@_arrangement.Id.Value"/>
                }
            </div>
            <div class="row">
                <button class="btn btn-success" @onclick="@(_ => Saker.Add(new SakInputModel()))">Legg til</button>
            </div>
        }
        
    }
}


@code {
    [Parameter]
    public int? ArrangementId {get;set;}
    private ArrangementInputModel _arrangement = new();

    private CustomValidator? _customValidator;

    private bool _delegaterExpanded;
    public ICollection<DelegatInputModel> Delegater
    {
        get => _delegater ??= new List<DelegatInputModel>();
        private set => _delegater = value;
    }

    [Inject]
    private IMapper Automapper { get; init; } = default!;

    private bool _sakerExpanded;
    public ICollection<SakInputModel> Saker
    {
        get => _saker ??= new List<SakInputModel>();
        private set => _saker = value;
    }
    private ICollection<DelegatInputModel>? _delegater;
    private ICollection<SakInputModel>? _saker;
    private bool _ready;

    protected override async Task OnInitializedAsync(){
        if(ArrangementId != null){
            var arrangement = await _arrangementService.HentArrangementAsync(new HentArrangementRequest {Id = ArrangementId.Value});
            if(arrangement != null)
            {
                _arrangement = Automapper.Map<ArrangementInputModel>(arrangement);

                Delegater = Automapper.Map<ICollection<DelegatInputModel>>(arrangement.Delegater);
                Saker = Automapper.Map<ICollection<SakInputModel>>(arrangement.Saker);
            }
        }

        _ready = true;
    }

    private async Task HandleValidSubmit(EditContext context){
        _customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();
        if (_arrangement.Id == null)
            await LeggTilArrangement(errors);
        else
            await OppdaterArrangement(errors);
        
        if (errors.Count > 0)
        {
            _customValidator?.DisplayErrors(errors);
        }
        context.MarkAsUnmodified();
    }

    private async Task OppdaterArrangement(Dictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            var arrangement = await _arrangementService.OppdaterArrangement(_arrangement);
            Automapper.Map(arrangement, _arrangement);
        }
    }

    private async Task LeggTilArrangement(IDictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            var arrangement = await _arrangementService.NyttArrangement(_arrangement);
            Automapper.Map(arrangement, _arrangement);
            _navigation.NavigateTo($"admin/arrangement/{arrangement.Id}");
        }
    }

}
