@page "/admin/arrangement/nytt-arrangement"
@page "/admin/arrangement/{arrangementId:int}"
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Components
@using Microsoft.AspNetCore.Authorization
@inject IArrangementService ArrangementService
@inject NavigationManager Navigation

@attribute [Authorize(Roles = "admin")]

@if (!_ready)
{
    <p><em>Laster...</em></p>
}
else
{
        <div class="row">
    @if (_arrangement.Id == null)
    {
        <h3>Nytt arrangement</h3>
    }
    else
    {
        <h3>Rediger arrangement <b>@_arrangement.Navn</b></h3>    
    }    
    </div>

    <div class="row">
    <EditForm Model="@_arrangement" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <CustomValidator @ref="_customValidator" />
        <ValidationSummary />
        <div class="form-group">
            <label>Navn<InputText class="form-control" placeholder="Navn" @bind-Value="_arrangement.Navn" disabled="@(_arrangement.Id != null)"/></label>
            <label>Beskrivelse<InputText class="form-control" placeholder="Beskrivelse" @bind-Value="_arrangement.Beskrivelse"/></label>
        </div>
        <div class="form-row">
            <div class="form-group col-md.6">
                <label>Startdato<InputDate class="form-control" @bind-Value="_arrangement.Startdato"/></label>
            </div>
            <div class="form-group col-md-6">
                <label>Sluttdato<InputDate class="form-control" @bind-Value="_arrangement.Sluttdato"/></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled="@(_arrangement.Id != null && !context.IsModified())">Lagre</button>
    </EditForm>
    </div>

    @if(_arrangement.Id != null){
        <div class="row mt-2" @onclick=@(_ => _delegaterExpanded=!_delegaterExpanded)>
            <h4>Delegater</h4>
            <span class="ml-2 mt-1 oi @(_delegaterExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
        </div>
        if (_delegaterExpanded)
        {
            <DelegatImport ArrangementId="@_arrangement.Id.Value"/>
            <div class="row">
                @foreach (var delegat in _delegater.OrderBy(d => d.Delegatnummer ?? int.MaxValue))
                {
                    var formModel = new DelegatFormModel(delegat);
                    <DelegatFormInline Delegat="@formModel" ArrangementId="@_arrangement.Id.Value" OnDelete="() => _delegater.Remove(delegat)" />
                }
            </div>
            <div class="row">
                <button class="btn btn-success" @onclick="@(_ => _delegater.Add(new DelegatDto()))">Legg til</button>
            </div>
        }
        
        <div class="row mt-2" @onclick=@(_ => _sakerExpanded=!_sakerExpanded)>
            <h4>Saker</h4>
            <span class="ml-2 mt-1 oi @(_sakerExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
        </div>
        if (_sakerExpanded)
        {
            <SakImport ArrangementId="@_arrangement.Id.Value"/>
            <div class="row">
                @foreach (var sak in Saker)
                {
                    <SakFormInline Sak="@sak" ArrangementId="@_arrangement.Id.Value"/>
                }
            </div>
            <div class="row">
                <button class="btn btn-success" @onclick="@(_ => Saker.Add(new SakFormModel()))">Legg til</button>
            </div>
        }
        <div class="row mt-2" @onclick=@(_ => _minSpeidingExpanded=!_minSpeidingExpanded)>
            <h4>Min speiding</h4>
            <span class="ml-2 mt-1 oi @(_minSpeidingExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
        </div>
        if (_minSpeidingExpanded)
        {
            <MinSpeidingImport ArrangementId="@_arrangement.Id.Value"/>
        }
    }
}


@code {
    [Parameter]
    public int? ArrangementId {get;set;}
    private ArrangementInputModel _arrangement = new();

    private CustomValidator? _customValidator;

    private bool _delegaterExpanded;
    
    private bool _minSpeidingExpanded;
    
    private bool _sakerExpanded;
    public ICollection<SakFormModel> Saker
    {
        get => _saker ??= new List<SakFormModel>();
        private set => _saker = value;
    }
    private ICollection<DelegatDto>? _delegater;
    private ICollection<SakFormModel>? _saker;
    private bool _ready;

    protected override async Task OnInitializedAsync(){
        if(ArrangementId != null){
            var arrangement = await ArrangementService.HentArrangementAsync(new HentArrangementRequest {Id = ArrangementId.Value});
            if(arrangement != null)
            {
                _arrangement = arrangement.ToInputModel();

                _delegater = arrangement.Delegater;
                Saker = arrangement.Saker.Select(s => new SakFormModel(s)).ToList();
            }
        }

        _ready = true;
    }

    private async Task HandleValidSubmit(EditContext context){
        _customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();
        if (_arrangement.Id == null)
            await LeggTilArrangement(errors);
        else
            await OppdaterArrangement(errors);
        
        if (errors.Count > 0)
        {
            _customValidator?.DisplayErrors(errors);
        }
        context.MarkAsUnmodified();
    }

    private async Task OppdaterArrangement(Dictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            var arrangement = await ArrangementService.OppdaterArrangement(_arrangement);
            _arrangement = arrangement.ToInputModel();
        }
    }

    private async Task LeggTilArrangement(IDictionary<string,List<string>> errors)
    {
        if (errors.Count <= 0)
        {
            var arrangement = await ArrangementService.NyttArrangement(_arrangement);
            _arrangement = arrangement.ToInputModel();
            Navigation.NavigateTo($"admin/arrangement/{arrangement.Id}");
        }
    }

}
