@page "/arrangement/{id:int}"


@using Stemmesystem.Web.Data
@using Stemmesystem.Data
@using Stemmesystem.Web.Services

@inject ArrangementService ArrangementService
@inject ISakService SakService
@inject IDelegatService DelegatService
@inject NavigationManager NavigationManager
@inject NotificationManager Notifications
@inject ActiveTracker Tracker

@implements IDisposable

<h2>@Navn</h2>

@if (_arrangement == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (_delegat != null)
    {
        <h3>Delegat: @_delegat.Delegatnummer (@_delegat.Navn) <span class="oi oi-pencil" data-toggle="modal" data-target="#delegatModal"></span></h3>
        <EndreDelegatDialog Delegat=@_delegat/>
        <div class="row">
            <h3>Voteringer</h3>
        </div>
        <div class="row">    
            @if (_voteringer.Any())
            {
                foreach (var votering in _voteringer)
                {
                    <AktivVotering Votering=votering/>
                }
            }
            else
            {
                <p><em>Ingen aktiv votering</em></p>
            }
        </div>
    }
    else
    {
        <h3>Du er ikke logget inn. Du må logge inn for å kunne stemme</h3>
        <DelegatkodeInput OnGyldigDelegat="@(SetDelegat)"/>
    }
    <div class="row mt-4" @onclick=@(_ => _resulaterExpanded=!_resulaterExpanded)>
        <h3>Resultater</h3>
        <span class="ml-2 mt-1 oi @(_resulaterExpanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
    </div>
    if (_resulaterExpanded)
    {
        foreach (var sak in _saker)
        {
            <Resultatliste Sak="sak"></Resultatliste>
        }
    }
    
}
