@page "/arrangement/{id:int}"
@page "/arrangement/{navn}"


@using Stemmesystem.Web.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ArrangementService ArrangementService
@inject IDelegatService DelegatService
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

@implements IAsyncDisposable

<h2>@Navn</h2>

@if (_arrangement == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (delegat != null)
    {
    <h3>Delegat: @delegat.Delegatnummer (@delegat.Navn) <span class="oi oi-pencil" data-toggle="modal" data-target="#delegatModal"></span></h3>
        <EndreDelegatDialog Delegat=@delegat/>

        if(_arrangement.AktivVotering() != null){
            <AktivVotering Votering=_arrangement.AktivVotering() DelegatKode=@delegat.Delegatkode/>
        }
    }
    else
    {
        <h3>Du er ikke logget inn. Du må logge inn for å kunne stemme</h3>
        <DelegatkodeInput GyldigDelegat="@(SetDelegat)"/>
    }
    <br>
    <br>
    <Saksliste Saker=@_arrangement.Saker Delegater=@_arrangement.Delegater.Count/>
    <Delegatliste Delegater="@_arrangement.Delegater" />
}
